
   .header {
    border: 4px solid var(--header-outline);
    border-radius: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 2em;
    width: 60%;
    margin: 2em auto;
    margin-bottom: 0;
  }
  
  .header__logo {
    width: 15%;
    margin-right: auto;
  }
  
  .header__score {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
  }
  
  .score__title {
    color: var(--score-text);
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  
  .score__score {
    font-size: 3rem;
    color: var(--header-outline);
    font-weight: 700;
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    line-height: .85;
  }
  