
/*************** CSS RESET ***************/

*, 
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*************** VARIABLES ***************/

html {
  --text: 'Barlow Semi Condensed', sans-serif;

  --bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}

/*************** BODY ***************/

body {
  background: var(--bg);
  font-family: var(--text);
  font-weight: 600;
  width: 100vw;
  height: 100vh;
}

/*************** HEADER ***************/

.header {
  border: 4px solid var(--header-outline);
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 60%;
  margin: 2em auto;
  margin-bottom: 0;
}

.header__logo {
  width: 15%;
}

.header__score {
  background-color: #fff;
  border-radius: 10px;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score__title {
  color: var(--score-text);
  letter-spacing: .15em;
  text-transform: uppercase;
}

.score__score {
  font-size: 3rem;
  color: var(--header-outline);
  font-weight: 700;
  /* border: 1px red solid; */
  margin: 0;
  padding: 0;
  line-height: .85;
}

/*************** PLAYGROUND ***************/

.playground {
  width: 60%;
  margin: 0 auto;
  border: 1px red solid;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground__bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-45%);
  width: 40%;
}

.playground__row {
  padding: 1em;
}

.item {
  border: .75em green solid;
  border-radius: 50%;
  padding: 1em;
  background-color: #fff;
}

svg {
  fill: hsl(214, 47%, 23%);
}

.item__img {
  border: 1px red solid;
  object-fit: cover;
}

.row-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}

.row-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid cyan;
}

.row-middle > .item {
  margin: 0 6em;
}

.row-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid violet;
}

.row-bottom > .item {
  margin: 0 2em;
}

/*************** MEDIA ***************/

@media (max-width: 1200px) {
	:root {
        font-size: .9rem;
    }
}

@media (max-width: 1060px) {
	:root {
        font-size: .8rem;
    }

  .playground__bg {
    width: 35%;
  }
}

@media (max-width: 992px) {	
	:root {
        font-size: .75rem;
    }
}

@media (max-width: 900px) {	
	:root {
        font-size: .7rem;
    }
}

@media (max-width: 768px) {
	:root {
        font-size: .6rem;
    }
}

@media (max-width: 580px) {
	:root {
        font-size: .5rem;
    }
}
