

.rules {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .rules-btn {
    /* border: 1px green solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 60%; */
    margin: 0 auto;
    position: absolute;
    right: 10%;
    bottom: 15%;
  }
  
  .rules__button {
    margin-top: 1em;
    margin-left: 1.5em;
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
  }
  
  .rules__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  
  .rules__title {
    font-size: 2rem;
    color: var(--dark-text);
  }
  
  .close__btn {
    align-self: center;
  }

  @media (max-width: 620px) {
    .rules__button {
      font-size: 2rem;
    }

    .rules-btn {
      bottom: 15em;
    }

    .rules__title {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 480px) {
    .rules__button {
      font-size: 2rem;
    }

    .rules-btn {
      bottom: 20em;
    }
  }